
  @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Kumbh+Sans:wght@400;700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:  hsl(234, 29%, 20%);
    font-family: 'Alfa Slab One', cursive;
font-family: 'Kumbh Sans', sans-serif;
font-family: 'Lobster Two', cursive;
font-family: 'Roboto', sans-serif;
}

.main{
        width: 100%;
        display: flex;
        height: 100vh;
        justify-content: center;
}
.container{
        align-self: center;
        width: 37rem;
        height: 25rem;
        background-color:white;
        border-radius:15px;
        font-family: 'Roboto', sans-serif;
        color: hsl(234, 29%, 20%);
        display: flex;
}

.text{    width:60%;
    height:80%;
}
.text h1{
margin:2.5rem 0 1rem 1.75rem;
}
.main-p{
    margin:1rem 1rem 1rem 1.75rem;;
    font-size :0.75rem;
    width:100%;
  
}
.p-li{
    font-size :0.75rem;
    width:100%;
    margin:0.5rem 0.5rem 1rem 1.75rem;
} 
label{
    display: flex;
    flex-direction: column;
    margin:0 1rem 0.5rem 1.75rem;
    width: 100%;
}
input{
    padding: 0.6rem;
    border-radius: 5px;
    width: 100%;
    
}

input[type="email"]{
    border: solid 1px hsl(235, 18%, 26%);
    font-size: 1rem;
    margin:0 0 1rem 0;
    width: 100%;
}
input[type="submit"]{
    color: white;
    background-color:hsl(234, 29%, 20%); 
    border: none;
    
}
.image img{
    width:80%;
    margin: 0.75rem 3.25rem ;

}

@media only screen and (max-width: 600px) {
    .container{
        display:flex;
        flex-direction: column-reverse;
    background-image: url(/newsletter-sign-up-with-success-message-main/assets/images/illustration-sign-up-mobile.svg);
background-repeat:no-repeat;
height: 100vh;  
top:-3rem ;
position: relative;


}
body{
    background-color: white;
    height: 100vh;
}
    .image img{
        display: none;
        /* height: 40%;  */
        /* padding-bottom:100rem; */
       
    }
    
    .text h1{
        margin-top: 10rem;
        width: 100%;
    }
    .text .main-p{
        max-width:100%;
        width: 90%;
        font-size :1rem;}

    .text{
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    
    }
    .text .p-li{
        font-size :1rem;
        width: 90%;}
    }
    form{
        width: 90%;
        margin-top: 2rem;
    }
    
    
   
